@model IEnumerable<Restaurant.Models.Tafel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TafelNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TafelStatus)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TafelNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TafelStatus)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
